
.register{
    height: 150vh;
    background-color: rgb(134, 134, 139);
    display: flex;
    align-items: center;
    justify-content: center;
    margin:-10px -10px -20px -10px;
 
}

    .card{
        display: flex;
        width: 50%;
        background-color: white;
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden;
        box-shadow: 0 20px 20px rgb(22 33 39 / 100%);
        background-color:#f7f7f785;
    }
        .left{
            flex: 1;
            background: linear-gradient(rgb(255, 255, 255),rgba(78, 210, 220, 0.372)) ,url("/myapp/static/IMG/0a.jpg") center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap:30px;
            color:white;




            h1{
                font-size: 100px;
                line-height: 100px;
            }
           
            span{
                font-size: 14px;

            }
            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: white;
                color:blueviolet
            }
        }

        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap:50px;
            justify-content: center;
        }
            h1{
                color: #555;
            }
            form {
                display: flex;
                flex-direction: column;
                gap:30px;
            }
                    

                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }
                
                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: #938eef;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
                .social{
                    background-color: white;
                    display: flex;
                    gap:50px;
                    justify-content: center;
                    box-shadow: 0 20px 20px rgb(22 33 39 / 100%);
                    border-radius: 10px;
                }
                .upload{
                    background-color:rgb(134, 134, 139);
                }
                h4 {
                    color: #272e35;
                    opacity: 70%;
                    font-family:sans-serif
                }
            
    




