/* Static/css/form_styles.css */

/* Styles for form elements */
.form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.form-control-file {
    margin: 10px 0;
}

.form-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

table tbody tr:hover {
    background-color: #cce6e6;
    cursor: pointer;
}

/* Styles for images */
img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
}



.Ubtn {
    background-color: #16c9ba;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
.Dbtn {
    background-color: #c51212;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0 20px 20px rgb(22 33 39 / 100%);
}
.btn:hover {
    background-color: #45a049;
}

.btn-danger {
    background-color: #f44336;
    color: white;
}

.btn-danger:hover {
    background-color: #d32f2f;
}

.btn-cancel {
    background-color: #ccc;
    color: black;
}

.btn-cancel:hover {
    background-color: #999;
}
.container {
    max-width: 600px;
    margin: 50px auto;
}

.form-group {
    margin-bottom: 15px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: white;
}
