{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woreda Residence Management System</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>
<body>
    {% include 'Nav.html' %}
<div class="all">
    

    <div id="home" class="hero-area">
        <div class="home-wrapper">
                <h1 class="white">Woreda Residence Management System</h1>
                <p class="lead white-text">This is our WRMS project.</p>
        </div>
    </div>

    <div class="section1">
        <div class="container4" style= "color:grey;">
            <div>
                <h2 style= "color:black;">Welcome</h2>
                <p class="lead" >We came up with the idea of this project after considering the current state of the Ethiopian woreda system. The woreda system in our country is in disarray. It is not well managed, it is difficult for getting many service by current lazy system .our project woreda residence management system is empowered to handle many services like land administration, Giving ID cards, marriage certificates and birth certificates, policing services, collection of land rents/taxes, collection of house rents, land ownership authorization and transfer of properties, etc.
                    As a result, society of Addis Ababa woreda has benefited from such an arrangement as most services are brought closer to the community; there by avoiding lengthy bureaucratic procedures delays that makes the number of days large to perform a job during the old system. One of these problems is related to the poor filing system, which is seriously affecting the amount and quality of service delivery to the Society at any level of Addis Ababa woreda
                    We came up with the idea of this project after considering the current state of the Ethiopian woreda system. The woreda system in our country is in disarray. It is not well managed, it is difficult for getting many service by current lazy system .our project woreda residence management system is empowered to handle many services like land administration, Giving ID cards, marriage certificates and birth certificates, policing services, collection of land rents/taxes, collection of house rents, land ownership authorization and transfer of properties, etc.
                    As a result, society of Addis Ababa woreda has benefited from such an arrangement as most services are brought closer to the community; there by avoiding lengthy bureaucratic procedures delays that makes the number of days large to perform a job during the old system. One of these problems is related to the poor filing system, which is seriously affecting the amount and quality of service delivery to the Society at any level of Addis Ababa woreda
                    In our country Ethiopia woreda organization have a big problem either management or to give a better service. As instance of this we try to done a platform for better solution. The project woreda residence management system still requires more development of Information Technology solutions and its applications to improve the issuance of copies of government certificates and legal documents. This project eliminates the handout paper work and unnecessary bureaucracy. The system can also be used for either client to done their work fast and efficient and customer to get quality service.
                    Throughout this project we will engaged in variety of activities to help the Addis Ababa woreda citizens and woreda staffs to perform their tasks like registering population, registering house, Giving ID card and other services .The main purpose of the web site is to solve the biggest problem of our country Ethiopia and reduce the effort by the candidate and save their time and create a smooth working schedule at woreda offices.
                  ganization have a big problem either management or to give a better service. As instance of this we try to done a platform for better solution. The project woreda residence management system still requires more development of Information Technology solutions and its applications to improve the issuance of copies of government certificates and legal documents. This project eliminates the handout paper work and unnecessary bureaucracy. The system can also be used for either client to done their work fast and efficient and customer to get quality service.
                    Throughout this project we will engaged in variety of activities to help the Addis Ababa woreda citizens and woreda staffs to perform their tasks like registering population, registering house, Giving ID card and other services .The main purpose of the web site is to solve the biggest problem of our country Ethiopia and reduce the effort by the candidate and save their time and create a smooth working schedule at woreda offices.
                   Ethiopia woreda organization have a big problem either management or to give a better service. As instance of this we try to done a platform for better solution. The project woreda residence management system still requires more development of Information Technology solutions and its applications to improve the issuance of copies of government certificates and legal documents. This project eliminates the handout paper work and unnecessary bureaucracy. The system can also be used for either client to done their work fast and efficient and customer to get quality service.
                    Throughout this project we will engaged in variety of activities to help the Addis Ababa woreda citizens and woreda staffs to perform their tasks like registering population, registering house, Giving ID card and other services .The main purpose of the web site is to solve the biggest problem of our country Ethiopia and reduce the effort by the candidate and save their time and create a smooth working schedule at woreda offices.
                  organization have a big problem either management or to give a better service. As instance of this we try to done a platform for better solution. The project woreda residence management system still requires more development of Information Technology solutions and its applications to improve the issuance of copies of government certificates and legal documents. This project eliminates the handout paper work and unnecessary bureaucracy. The system can also be used for either client to done their work fast and efficient and customer to get quality service.
                    Throughout this project we will engaged in variety of activities to help the Addis Ababa woreda citizens and woreda staffs to perform their tasks like registering population, registering house, Giving ID card and other services .The main purpose of the web site is to solve the biggest problem of our country Ethiopia and reduce the effort by the candidate and save their time and create a smooth working schedule at woreda offices.
                    </p>
            </div>
          
            
          
        </div>
    </div>

    <div class="section2">
        <div class="container2">

            <div class="feature">
                <i class="feature-icon fa fa-simplybuilt"></i>
                <div class="feature-content">
                    <a href=""><h4>Visions</h4></a>
                    <p>Click to view the details about.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section3">
        <div class="container3">
            <div>
                <h2>Goal</h2>
           
            </div>
            <div class="feature">
                <i class="feature-icon fa fa-flask"></i>
                <div class="feature-content">
                    
                    <p> 	Faster </p>
                        <p> 	Efficiently </p>
                            <p>    	Accurately </p>
                                <p>     	Secure and with wise use of information resources available. </p>
                                    <p>    	Technological advancement of the woreda residence management system. </p>
                                        <p>     	Protect unauthorized access
                        </p>
                </div>
            </div>
           
        </div>
    </div>

    <div class="section4">
        <div id="dev1">
            <h2></h2>
            <h4>•A particular user of the system has no difficulty in reading the text on the display. 
          </h4>
        </div>
        <div id="dev2">
            <h2>News</h2>
            <h4> The system is navigable through intuition..</h4>
        </div>
        <div id="dev3">
            <h2></h2>
            <h4>
                •Menu choices are presented in form of buttons, which contain text as well as little pictures illustrating the choice for better understanding..</h4>
        </div>
    </div>

    <div class="section7">
        <div id="dev1">
            <h4></h4>
            <h4>	Making operations on Records such as storing data, updating residence records status, deleting records that are no longer used, registering new residence data in easy, reliable and efficient way.</h4></div>
        <div id="dev2">
            <h4>Mission</h4>
            <h4>to create a simple, effective, and resource-saving platform that helps our population while also focusing on logistics</h4></div>
        <div id="dev3">
            <h4></h4>
            <h4>To design an efficient, reliable and effective database to solve the problem of the existing manual Record system.

            </h4></div></div>

    <div class="section5">
        <div class="container5">
            <div>
                <h2> Services</h2>
                
            </div>
            <div class="feature">
                <i class="feature-icon fa fa-flask"></i>
                <div class="feature-content">
                 
                    <p> 
                        	Registering population</p>
                      <p>  	Registering house</p>
                      <p>  	Giving ID card for citizens</p>
                    
                    </p>                        
                </div>
            </div>
            <div class="feature">
                <i class="feature-icon fa fa-users"></i>
                <div class="feature-content">
                    
                    <p>  	Organizing peoples in small enterprise
                   
                    </p>
                    <p>    	Solving easy conflicts with lower court
                    </p>
                     <p>    	Giving marriage and divorce certificate

                     </p>
                                
                </div>
            </div>
            <div class="feature">
                <i class="feature-icon fa fa-simplybuilt"></i>
                <div class="feature-content">
                   
                    <p> 	House renting
              
                    </p>
                    <p> 
                        	Land administration
                        </p>
                        
                </div>
            </div>
        </div>
    </div>

    <div class="section6">
        <div id="dev1">
            <h2>Quick links</h2>
            <li><a href="/">Home</a></li>
            <li><a href="/Services">Services</a></li>
            <li><a href="/About">About Us</a></li>
            <li><a href="/request">Request</a></li>
            <li><a href="/comment">Comment</a></li>
        </div>
        <div id="dev2" class="feature">
            <h2>Services</h2>
            <li><a href="/request">Send Request</a></li>
            <li><a href="/comment">Give Comment</a></li>
        </div>
        <div id="dev3">
            <h2>Quick links</h2>
            <li><a href="/">Home</a></li>
            <li><a href="/Services">Services</a></li>
            <li><a href="/About">About Us</a></li>
            <li><a href="/request">Request</a></li>
            <li><a href="/comment">Comment</a></li>
        </div>
        <div id="dev4" class="feature">
            <h2>Services</h2>
            <li><a href="/request">Send Request</a></li>
            <li><a href="/comment">Give Comment</a></li>
        </div>
    </div>

    <div class="bottom-container">
        <p class="copyright">Copy Right &copy; Protected</p>
        <a href="http://www.facebook.com"><img src="../static/IMG/facebook.png" alt="Facebook" height="25" width="25"></a>
        <a href="http://www.twitter.com"><img src="../static/IMG/twitter.png" alt="Twitter" height="30" width="30"></a>
        <a href="http://www.youtube.com"><img src="../static/IMG/youtube.png" alt="YouTube" height="30" width="30"></a>
        <a href="http://www.instagram.com"><img src="../static/IMG/instagram.png" alt="Instagram" height="25" width="25"></a>
    </div>
</body>
</html> 
