{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROfficer</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/app2.css' %}">

</head>
<body>

<div class="all services">
    
    {% include 'Nav.html' %}
    <div class="section2R">
        <div class="container2">
            <div>
                <h2></h2>
            </div>
            <div class="feature">
                <div class="feature-content">
                    <h4>News</h4>
                    <p>Click to view the list of departments in the.
                    Click to view the list of departments in the
                    Click to view the list of departments in the
                    Click to view the list of departments in the</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section4R">
        <div id="dev1">
            <h3><a href="/personal_info">PERSONAL INFORMATION</a></h3>
           
        </div>
        <div id="dev2">
            <h3><a href="/id_info">IDENTITY CARD</a></h3>
       
        </div>
        <div id="dev3">
            <h3><a href="/bcertificate">BIRTH CERTIFICATE</a></h3>
          
        </div>
    
        <div id="dev4">
            <h3><a href="/Marriage_info">MARRIAGE</a></h3>
        
        </div>
        <div id="dev5">
            <h3><a href="/house_info">POPULATION & HOUSE REGISTRATION</a></h3>
           
        </div>
   </div>

    <div class="section6">
        <div id="dev1">
            <h2>Quick links</h2>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/Services">Services</a></li>
                <li><a href="/About">about us</a></li>
                <li><a href="/request">request</a></li>
                <li><a href="/comment">comment</a></li>
            </ul>
        </div>
        <div id="dev2" class="feature">
            <h2>Services</h2>
            <ul>
                <li><a href="/request">Send request</a></li>
                <li><a href="/comment">give comment</a></li>
            </ul>
        </div>
        <div id="dev3">
            <h2>Quick links</h2>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/Services">Services</a></li>
                <li><a href="/About">about us</a></li>
                <li><a href="/request">request</a></li>
                <li><a href="/comment">comment</a></li>
            </ul>
        </div>
        <div id="dev4" class="feature">
            <h2>Services</h2>
            <ul>
                <li><a href="/request">Send request</a></li>
                <li><a href="/comment">give comment</a></li>
            </ul>
        </div>
    </div>

    <div class="bottom-container">
        <p class="copyright">Copy Right &copy; Protected</p>
        <a href="http://www.facebook.com"><img src="../static/IMG/facebook.png" alt="Facebook" height="25" width="25"></a>
        <a href="http://www.twitter.com"><img src="../static/IMG/twitter.png" alt="Twitter" height="30" width="30"></a>
        <a href="http://www.youtube.com"><img src="../static/IMG/youtube.png" alt="YouTube" height="30" width="30"></a>
        <a href="http://www.instagram.com"><img src="../static/IMG/instagram.png" alt="Instagram" height="25" width="25"></a>
    </div>
</div>

</body>
</html>
